// main
.main
  border: 1px dashed pink
  position: absolute
  display: flex
  width: 924px
  height: 1500px
  justify-content: center
  // (высрту вымерила по макету в figma)
  left: 15%
  &__logo
    padding-top: 60px
     // (высрту вымерила по макету в figma)
   
 

  